.header, .container {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 60px;
    color: #1d2c0b;
}

.inputList {
    width: 40%;
    padding: 10px;
    border: 2px solid #1d2c0b;

}

.btn {
    padding: 20px;
    background-color: #bb5805;
    border: 2px solid #bb5805;
}

body {
    background-image: url(toDoImage.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 60vh;
}